# Working with real data
Data from https://www.kaggle.com/nasa/astronaut-yearbook

In [4]:
import pandas as pd

## Dataframe
A dataframe is the most versatile data structure in pandas. You can think of it as an excel sheet with columns and rows.

## Import data from CSV file

In [2]:
df = pd.read_csv("./astronauts.csv")
df = pd.read_excel

## Dataframe properties

You can get an overview of the dataframe values with

In [3]:
df.describe()

AttributeError: 'function' object has no attribute 'describe'

With the len function You can get the number of rows in the dataset

In [ ]:
len(df)

which gives us 357 astronauts

The columns property gives you the names of the individual columns

In [ ]:
df.columns

The methods head() gives you the first n (default=5) entries:

In [ ]:
df.head()

whereas the tail method gives you the last n entries

In [ ]:
df.tail(7)

With the iloc keyword You get the entries directly via index

In [ ]:
df.iloc[0, 0]

The loc keyword is another way to access dataframe.

The colon is used as a "select *" for rows or columns

In [ ]:
df.iloc[:, :]

### Which American astronauts have spent the most time in space?

In [ ]:
most_time_in_space = df.sort_values(by="Space Flight (hr)", ascending=False).head(1)

In [ ]:
most_time_in_space[['Name','Space Flight (hr)']]

Sorting the dataframe can be done with sort_by_values. And for this question we sort for Space Flight (hr). Because we want the most hours we have to sort descending which translates to ascending=False.

head(1) gives us the correct answer:

Jeffrey N. Williams. He spent 12818 hours (534 days) in space.

Have You heard of him? Unsung hero!

Hint: the Dataset was updated the last time in 2017. As of 2019 Peggy Whitson is the american who has spent the most time in space.Â 

She has spend more than 665 days in space!

In [ ]:
least_time_in_space = df.sort_values(by="Space Flight (hr)", ascending=True).head(10)
least_time_in_space[['Name','Space Flight (hr)']]

### What university has produced the most astronauts?

In [ ]:
df['Alma Mater'].value_counts().head(1)

The US Naval Academy produced 12 astronauts.

### What subject did the most astronauts major in at college?

In [ ]:
df['Undergraduate Major'].value_counts().head(1)

The same here: use value_counts method on the Undergraduate Major column.
    
The answer is Physics: 35 Astronauts studied physics in college

### Have most astronauts served in the military?

In [ ]:
astronauts_with_military_rank = df['Military Rank'].count()
astronauts_with_military_rank

The count method returns the number of entries which are not null or not NaN.

207 astronauts have a military rank.

In [ ]:
percentage_astronauts_served = astronauts_with_military_rank / len(df)
percentage_astronauts_served

 58% served in the military.

### Which is the most common rank?

In [ ]:
df['Military Rank'].value_counts()

which gives us 94 Colonels.