# Working with real data
Data from https://www.kaggle.com/nasa/astronaut-yearbook

In [1]:
import pandas as pd

## Dataframe
A dataframe is the most versatile data structure in pandas. You can think of it as an excel sheet with columns and rows.

## Import data from CSV file

In [2]:
df = pd.read_csv("./astronauts.csv")

## Dataframe properties

You can get an overview of the dataframe values with

In [3]:
df.describe()

,Year,Group,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr)
count,330.000000,330.000000,357.000000,357.000000,357.000000,357.000000
mean,1985.106061,11.409091,2.364146,1249.266106,1.246499,7.707283
std,13.216147,5.149962,1.428700,1896.759857,2.056989,13.367973
min,1959.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1978.000000,8.000000,1.000000,289.000000,0.000000,0.000000
50%,1987.000000,12.000000,2.000000,590.000000,0.000000,0.000000
75%,1996.000000,16.000000,3.000000,1045.000000,2.000000,12.000000
max,2009.000000,20.000000,7.000000,12818.000000,10.000000,67.000000

With the len function You can get the number of rows in the dataset

In [4]:
len(df)

357

which gives us 357 astronauts

The columns property gives you the names of the individual columns

In [5]:
df.columns

Index(['Name', 'Year', 'Group', 'Status', 'Birth Date', 'Birth Place',
       'Gender', 'Alma Mater', 'Undergraduate Major', 'Graduate Major',
       'Military Rank', 'Military Branch', 'Space Flights',
       'Space Flight (hr)', 'Space Walks', 'Space Walks (hr)', 'Missions',
       'Death Date', 'Death Mission'],
      dtype='object')

The methods head() gives you the first n (default=5) entries:

In [6]:
df.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN

whereas the tail method gives you the last n entries

In [7]:
df.tail(7)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
350,G. Reid Wiseman,2009.0,20.0,Active,11/11/1975,"Baltimore, MD",Male,Rensselaer Polytechnic Institute; Johns Hopkin...,Computer & Systems Engineering,Systems Engineering,Commander,US Navy,1,3968,2,13.0,ISS-40/41 (Soyuz),NaN,NaN
351,Peter J. K. Wisoff,1990.0,13.0,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

With the iloc keyword You get the entries directly via index

In [8]:
df.iloc[0, 0]

'Joseph M. Acaba'

The loc keyword is another way to access dataframe.

The colon is used as a "select *" for rows or columns

In [9]:
df.iloc[:, :]

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967.0,6.0,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
7,Scott D. Altman,1995.0,15.0,Retired,8/15/1959,"Lincoln, IL",Male,University of Illinois; US Naval Postgraduate ...,Aeronautical & Astronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1236,0,0.0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109...",NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
9,Clayton C. Anderson,1998.0,17.0,Retired,2/23/1959,"Omaha, NE",Male,Hastings College; Iowa State University,Physics,Aerospace Engineering,NaN,NaN,2,4005,6,38.0,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis...",NaN,NaN
10,Michael P. Anderson,1995.0,15.0,Deceased,12/25/1959,"Plattsburgh, NY",Male,University of Washington; Creighton University,Physics & Astronomy,Physics,Lieutenant Colonel,US Air Force,2,594,0,0.0,"STS-89 (Endeavor), STS-107 (Columbia)",2/1/2003,STS-107 (Columbia)
11,Dominic A. Antonelli,2000.0,18.0,Active,8/23/1967,"Detroit, MI",Male,MIT; University of Washington,Aeronautics & Astronautics,Aeronautics & Astronautics,Commander,US Navy,2,579,0,0.0,"STS-119 (Discovery), STS-132 (Atlantis)",NaN,NaN
12,Jerome Apt III,1985.0,11.0,Retired,4/18/1949,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN
13,Lee J. Archambault,1998.0,17.0,Retired,8/25/1960,"Oak Park, IL",Male,University of Illinois-Urbana,Aeronautical & Astronautical Engineering,Aeronautical & Astronautical Engineering,Colonel,US Air Force,2,639,0,0.0,"STS-117 (Atlantis), STS-119 (Discovery)",NaN,NaN
14,Neil A. Armstrong,1962.0,2.0,Deceased,8/5/1930,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",8/25/2012,NaN
15,Richard R. Arnold II,2004.0,19.0,Active,11/26/1963,"Cheverly, MD",Male,Frostburg State University; University of Mary...,Accounting,Environmental Science,NaN,NaN,1,307,2,12.0,STS-119 (Discovery),NaN,NaN
16,Jeffrey S. Ashby,1995.0,15.0,Retired,6/1/1954,"Dallas, TX",Male,University of Idaho; University of Tennessee,Mechanical Engineering,Aviation Systems,Captain,US Navy (Retired),3,655,0,0.0,"STS-93 (Columbia), STS-100 (Endeavor), STS-112...",NaN,NaN
17,Serena M. Aunon,2009.0,20.0,Active,4/9/1976,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
18,James P. Bagian,1980.0,9.0,Retired,2/22/1952,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN
19,Ellen S. Baker,1984.0,10.0,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
20,Michael A. Baker,1985.0,11.0,Management,10/27/1953,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN
21,Michael R. Barratt,2000.0,18.0,Active,4/16/1959,"Vancouver, WA",Male,University of Washington; Northwestern Univers...,Zoology,Medicine; Aerospace Medicine,NaN,NaN,2,5075,1,5.0,"ISS-19/20 (Soyuz), STS-133 (Discovery)",NaN,NaN
22,Daniel T. Barry,1992.0,14.0,Retired,12/30/1953,"Norwalk, CT",Male,Cornell University; Princeton University; Univ...,Electrical Engineering,Electrical Engineering; Computer Science; Medi...,NaN,NaN,3,733,4,26.0,"STS-72 (Endeavor), STS-96 (Discovery), STS-105...",NaN,NaN
23,John-David F. Bartoe,NaN,NaN,Retired,11/17/1944,"Abington, PA",Male,Lehigh University; Georgetown University,Physics,Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
24,Charles A. Bassett II,1963.0,3.0,Deceased,12/30/1931,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,2/28/1966,NaN
25,Alan L. Bean,1963.0,3.0,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
26,Robert L. Behnken,2000.0,18.0,Active,7/28/1970,"Creve Couer, MO",Male,Washington University; California Institute of...,Physics & Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force,2,708,6,37.0,"STS-123 (Endeavor), STS-130 (Endeavor)",NaN,NaN
27,John E. Blaha,1980.0,9.0,Retired,8/26/1942,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN
28,Michael J. Bloomfield,1995.0,15.0,Retired,3/16/1959,"Flint, MI",Male,US Air Force Academy; Old Dominion University,Engineering Mechanics,Engineering Management,Colonel,US Air Force (Retired),3,779,0,0.0,"STS-86 (Atlantis), STS-97 (Endeavor), STS-110 ...",NaN,NaN
29,Guion S. Bluford Jr.,1978.0,8.0,Retired,11/22/1942,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,Charles Lacy Veach,1984.0,10.0,Deceased,9/18/1944,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",10/3/1995,NaN
328,Terry W. Virts Jr.,2000.0,18.0,Active,12/1/1967,"Baltimore, MD",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Mathematics,Aeronautics,Colonel,US Air Force,2,5122,3,18.0,"STS-130 (Endeavor), ISS-42/43 (Soyuz)",NaN,NaN
329,James S. Voss,1987.0,12.0,Retired,3/3/1949,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaN,NaN
330,Janice E. Voss,1990.0,13.0,Deceased,10/8/1956,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2/6/2012,NaN
331,Rex J. Walheim,1996.0,16.0,Active,10/10/1962,"Redwood, CA",Male,University of California-Berkeley; University ...,Mechanical Engineering,Industrial Engineering,Colonel,US Air Force (Retired),3,872,5,36.0,"STS-110 (Atlantis), STS-122 (Atlantis), STS-13...",NaN,NaN
332,Charles D. Walker,NaN,NaN,Retired,8/29/1948,"Bedford, IN",Male,Purdue University,Aeronautical & Astronautical Engineering,NaN,NaN,NaN,3,477,0,0.0,"STS 41-D (Discovery), STS 51-D (Discovery), ST...",NaN,NaN
333,David M. Walker,1978.0,8.0,Deceased,5/20/1944,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",4/23/2001,NaN
334,Shannon Walker,2004.0,19.0,Active,6/4/1965,"Houston, TX",Female,Rice University,Space Physics,Space Physics,NaN,NaN,1,3919,0,0.0,ISS-24/25 (Soyuz),NaN,NaN
335,Carl E. Walz,1990.0,13.0,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
336,Taylor G. Wang,NaN,NaN,Retired,6/16/1940,"Jiangxi, China",Male,University of California at Los Angeles,Physics,Physics,NaN,NaN,1,168,0,0.0,STS 51-B (Challenger),NaN,NaN
337,Mary E. Weber,1992.0,14.0,Retired,8/24/1962,"Cleveland, OH",Female,Purdue University; University of California-Be...,Chemical Engineering,Physical Chemistry,NaN,NaN,2,450,0,0.0,"STS-70 (Discovery), STS-101 (Atlantis)",NaN,NaN
338,Paul J. Weitz,1966.0,5.0,Retired,6/25/1932,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaN,NaN
339,James D. Wetherbee,1984.0,10.0,Retired,11/27/1952,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaN,NaN
340,Douglas H. Wheelock,1998.0,17.0,Active,5/5/1960,"Binghamton, NY",Male,US Military Academy; Georgia Institute of Tech...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army,2,4281,6,43.0,"STS-120 (Discovery), ISS-24/25 (Soyuz)",NaN,NaN
341,Edward H. White II,1962.0,2.0,Deceased,11/14/1930,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1/27/1967,Apollo 1
342,Peggy A. Whitson,1996.0,16.0,Active,2/9/1960,"Mt. Ayr, IA",Female,Iowa Wesleyan College; Rice University,Chemistry & Biology,Biochemistry,NaN,NaN,3,11698,7,46.0,"STS-111/113 (Endeavor), ISS-16 (Soyuz), ISS-50...",NaN,NaN
343,Terrence W. Wilcutt,1990.0,13.0,Management,10/31/1949,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaN,NaN
344,Clifton C. Williams Jr.,1963.0,3.0,Deceased,9/26/1932,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,NaN,10/5/1967,NaN
345,Donald E. Williams,1978.0,8.0,Retired,2/13/1958,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaN,NaN
346,Jeffrey N. Williams,1996.0,16.0,Active,1/18/1958,"Superior, WI",Male,US Military Academy; US Naval Postgraduate Sch...,Applied Science & Engineering,Aeronautical Engineering; National Security & ...,Colonel,US Army (Retired),4,12818,5,32.0,"STS-101 (Atlantis), ISS-13 (Soyuz), ISS-21/22 ...",NaN,NaN
347,Sunita L. Williams,1998.0,17.0,Active,9/19/1965,"Euclid, OH",Female,US Naval Academy; Florida Institute of Technology,Physical Science,Engineering Management,Captain,US Navy,2,7721,7,50.0,"STS-116/117 (Discovery/Atlantis), ISS-32/33 (S...",NaN,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,12/29/1962,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaN,NaN
349,Stephanie D. Wilson,1996.0,16.0,Active,9/27/1966,"Boston, MA",Female,Harvard University; University of Texas,Engineering Science,Aerospace Engineering,NaN,NaN,3,1031,0,0.0,"STS-121 (Discovery), STS-120 (Discovery), STS-...",NaN,NaN
350,G. Reid Wiseman,2009.0,20.0,Active,11/11/1975,"Baltimore, MD",Male,Rensselaer Polytechnic Institute; Johns Hopkin...,Computer & Systems Engineering,Systems Engineering,Commander,US Navy,1,3968,2,13.0,ISS-40/41 (Soyuz),NaN,NaN
351,Peter J. K. Wisoff,1990.0,13.0,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

### Which American astronauts have spent the most time in space?

In [10]:
most_time_in_space = df.sort_values(by="Space Flight (hr)", ascending=False).head(1)

In [11]:
most_time_in_space[['Name','Space Flight (hr)']]

                    Name  Space Flight (hr)
346  Jeffrey N. Williams              12818

Sorting the dataframe can be done with sort_by_values. And for this question we sort for Space Flight (hr). Because we want the most hours we have to sort descending which translates to ascending=False.

head(1) gives us the correct answer:

Jeffrey N. Williams. He spent 12818 hours (534 days) in space.

Have You heard of him? Unsung hero!

Hint: the Dataset was updated the last time in 2017. As of 2019 Peggy Whitson is the american who has spent the most time in space. 

She has spend more than 665 days in space!

In [12]:
least_time_in_space = df.sort_values(by="Space Flight (hr)", ascending=True).head(10)
least_time_in_space[['Name','Space Flight (hr)']]

                    Name  Space Flight (hr)
318    Stephen D. Thorne                  0
246     Brian T. O'Leary                  0
326    Mark T. Vande Hei                  0
173    Gregory B. Jarvis                  0
46          John S. Bull                  0
322      Scott D. Tingle                  0
165  Donald L. Holmquest                  0
50       Yvonne D. Cagle                  0
51     Fernando Caldeiro                  0
63      Roger B. Chaffee                  0

### What university has produced the most astronauts?

In [13]:
df['Alma Mater'].value_counts().head(1)

US Naval Academy    12
Name: Alma Mater, dtype: int64

The US Naval Academy produced 12 astronauts.

### What subject did the most astronauts major in at college?

In [14]:
df['Undergraduate Major'].value_counts().head(1)

Physics    35
Name: Undergraduate Major, dtype: int64

The same here: use value_counts method on the Undergraduate Major column.
    
The answer is Physics: 35 Astronauts studied physics in college

### Have most astronauts served in the military?

In [15]:
astronauts_with_military_rank = df['Military Rank'].count()
astronauts_with_military_rank

207

The count method returns the number of entries which are not null or not NaN.

207 astronauts have a military rank.

In [16]:
percentage_astronauts_served = astronauts_with_military_rank / len(df)
percentage_astronauts_served

0.5798319327731093

 58% served in the military.

### Which is the most common rank?

In [17]:
df['Military Rank'].value_counts()

Colonel                  94
Captain                  68
Commander                13
Lieutenant Colonel       10
Major                     5
Brigadier General         4
Major General             4
Lieutenant Commander      3
Lieutenant General        2
Rear Admiral              2
Vice Admiral              1
Chief Warrant Officer     1
Name: Military Rank, dtype: int64

which gives us 94 Colonels.